---
pagination:
  data: collections.posts
  size: 2
  alias: posts
---

{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = "Posts" %}



{% block content %}
<div>Curious why things look a little rough? This site is under active development. Follow along here: <a href="https://twitter.com/_Taurean/status/1296337041995661312" target="_blank">Twitter thread</a></div>
<section class="post-feed">
  {% for post in posts %}
  {{ card(post) }}
  {% endfor %}
</section>

  {% include "partials/pagination.njk" %}
{% endblock%}
